@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<br />
<form method="post">
    <h1>Formulario</h1>
    <input type="text" name="param1" placeholder="param1" />
    <input type="submit" valor="Enviar" />
</form>


<form method="post">
    <h1>Formulario persona</h1>
    <input  asp-for="@Model.Persona.Id" placeholder="id" />
    <input asp-for="@Model.Persona.Nombre" placeholder="Nombre" />
    <input type="submit" valor="Enviar" asp-page-handler="Persona"/>
</form>

<form method="post">
    <h1>Formulario persona y ciudad</h1>
    <h1>persona</h1>
    <input asp-for="@Model.Persona.Id" placeholder="id pais" />
    <input asp-for="@Model.Persona.Nombre" placeholder="Nombre pais" />
    <h1>persona</h1>
    <input asp-for="@Model.Ciudad.Id" placeholder="id ciudad" />
    <input asp-for="@Model.Ciudad.Nombre" placeholder="Nombre ciudad" />
    <input asp-for="@Model.Ciudad.Pais" placeholder="Nombre Pais" />
    <input type="submit" valor="Enviar" asp-page-handler="PersonaCiudad" />
</form>